@import "../../scss/colors";
@import "../../scss/media-queries";

.main-content {
  color: $text-color;
  padding: 0.625rem 2.5rem;

  &__blocks {
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.25rem 2.5rem;

    & > * {
      flex: 1 0 150px;
    }
  }
}

@include media-query("large") {
  .main-content {
    &__blocks {
      gap: 2px 2px;
    }
  }
}
