@import "../../scss/colors";

.main-content {
  color: $text-color;
  padding: 0.625rem 2.5rem;

  &__blocks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20.3125rem, 1fr));
    margin-top: 5rem;
    gap: 1.875rem;
  }
}
