@import "../../scss/colors";

header {
  position: fixed;
  inset: 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  padding: 0 1.875rem;
  color: $text-color;
  background: $header-background-color;

  .html-icon-box {
    height: 3.5rem;
    aspect-ratio: 1/1;
    padding: 0.625rem;
    border-radius: 50%;
    background: $html-icon-background-color;
    cursor: pointer;
    &:hover {
      background: $hover-color;
    }
    img {
      height: 100%;
    }
  }

  .recruitment-task {
    font-size: 1.5625rem;
    text-align: right;
    span {
      font-weight: bolder;
    }
  }
}
