@import "../../scss/colors";
@import "../../scss/media-queries";

.header {
  position: fixed;
  inset: 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  padding: 0 1.875rem;
  color: $text-color;
  background: $header-background-color;
  z-index: 1;

  &__icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    aspect-ratio: 1/1;
    padding: 0.625rem;
    border-radius: 50%;
    background: $html-icon-background-color;
    transition: 0.3s all;
    cursor: pointer;

    &:hover {
      background-color: $hover-color-main;
      background-color: $hover-color;
    }

    &__icon {
      font-size: 2.1875rem;
      color: $html-icon-color;
    }
  }

  &__task {
    font-size: 1.5625rem;
    text-align: right;

    &-title {
      &--font-bolder {
        font-weight: bolder;
      }
    }
  }
}

@include media-query("large") {
  .header {
    &__task {
      font-size: 1rem;
    }
  }
}
