$header-background-color: #0b0c10;
$html-icon-background-color: #303030;

$main-background-color: #2a2d36;

$footer-background-color: #15161a;
$footer-text-color: #2a2d34;
$footer-button-text-color: #a1a7b5;
$footer-button-border-color: #2c2c34;

$text-color: #fff;
$text-hover-color: #fe9f27;
$hover-color: linear-gradient(
  135deg,
  rgba(205, 116, 0, 1) 28%,
  rgba(254, 159, 33, 1) 84%
);
