$header-background-color: #0b0c10;
$html-icon-background-color: #303030;
$html-icon-color: #fff;

$main-background-color: #2a2d36;
$radio-checked-color: #fff;
$second-block__buttons__button-border-color: #feffff;
$second-block__buttons__button-text-color: #a2a8b6;
$second-block__buttons__button-border-color--hover: #fffad1;
$second-block__buttons__button-text-color--hover: #fffce4;
$third-block-content-text-color: #8c909b;

$footer-background-color: #15161a;
$footer-text-color: #2a2d34;
$footer-toggle-button-text-color: #a1a7b5;
$footer-toggle-button-border-color: #2c2c34;

$dialog-background-color: rgba(11, 12, 16, 0.6);

$text-color: #fff;
$hover-color: linear-gradient(
  135deg,
  rgba(205, 116, 0, 1) 28%,
  rgba(254, 159, 33, 1) 84%
);
$hover-color-main: rgba(205, 116, 0, 1);
